<div class="row">
    <div class="row" ng-show="vm.isLoading">
        <div class="col-sm-offset-1 col-sm-11 alert alert-warning">
            <div class="text-center">
                Please wait while loading the selected media information...
            </div>
        </div>
    </div>
    <div ng-hide="vm.isLoading" class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-11">
                        <h3 class="panel-title">Media details</h3>
                    </div>
                    <div class="col-sm-1">
                        <button type="button" class="pull-right btn btn-link btn-sm" ng-click="vm.toggleMediaDetailsPanel()"><i ng-class="vm.mediaDetailsPanelIsVisible ? ['glyphicon', 'glyphicon-collapse-up'] : ['glyphicon', 'glyphicon-collapse-down']"></i></button>
                    </div>
                </div>
                <div id="mediaDetails" class="row panel-collapse collapse">
                    <div class="col-sm-4">
                        <h6 class="small"><strong>ISBN:</strong> {{vm.media.isbn}}</h6>
                    </div>
                    <div class="col-sm-4">
                        <h6 class="small"><strong>Title:</strong> {{vm.media.title}}</h6>
                    </div>
                    <div class="col-sm-2">
                        <h6 class="small"><strong>Language:</strong> {{vm.media.language.name}}</h6>
                    </div>
                    <div class="col-sm-2">
                        <h6 class="small"><strong>Level:</strong> {{vm.media.level}}</h6>
                    </div>
                    <div class="col-sm-4">
                        <h6 class="small"><strong>Published by:</strong> {{vm.media.publisher.name}} in year: {{vm.media.yearPublished}}</h6>
                    </div>
                    <div class="col-sm-8">
                        <h6 class="small"><strong>Description:</strong> {{vm.media.description}}</h6>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div ng-show="vm.media.mediaType == vm.mediaTypes.Image" class="row">
                    <div class="col-sm-12">
                        <img class="img img-responsive" ng-src="../../Images/{{vm.media.contentLocation + '-page'+ vm.media.page + '.jpg'}}" style="width: 100%">
                    </div>
                </div>
                <div ng-show="vm.media.mediaType == vm.mediaTypes.Text" class="row">
                    <div class="col-sm-12 well-sm">
                        <p>{{vm.media.content}}</p>
                    </div>
                </div>
                <div ng-show="vm.media.mediaType == vm.mediaTypes.Html" class="row">
                    <div class="col-sm-offset-1 col-sm-10 well-sm">
                        <p  ng-bind-html="vm.media.content"></p>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-1">
                            <button type="button" ng-disabled="vm.media.page == 1" class="btn btn-primary btn-xs" ng-click="vm.firstPage()"><i class="glyphicon glyphicon-step-backward"></i>&nbsp;الأولى</button>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" ng-disabled="vm.media.page == 1" class="btn btn-danger btn-xs" ng-click="vm.previousPage()"><i class="glyphicon glyphicon-circle-arrow-left"></i>&nbsp;السابقة</button>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" ng-disabled="vm.media.page == vm.media.pages" class="btn btn-success btn-xs" ng-click="vm.nextPage()"><i class="glyphicon glyphicon-circle-arrow-right"></i>&nbsp;التالية</button>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" ng-disabled="vm.media.page == vm.media.pages" class="btn btn-primary btn-xs" ng-click="vm.lastPage()"><i class="glyphicon glyphicon-step-forward"></i>&nbsp;الأخيرة</button>
                        </div>
                        <div class="col-sm-1">
                            <input class="text-primary" id="page" name="page" ng-model="vm.pageNumber" placeholder="page #" title="Go to page #" type="text" style="width: 50px" />
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-primary btn-xs" ng-click="vm.goToPage()"><i class="glyphicon glyphicon-play-circle"></i>&nbsp;Go to</button>
                        </div>
                        <div class="col-sm-offset-1 col-sm-3">
                            <h6 class="text-info">Page {{vm.media.page}} of {{vm.media.pages}} pages</h6>
                        </div>
                        <div class="pull-right">
                            <a class="btn btn-link btn-xs" formnovalidate="formnovalidate" href="#/"><i class="glyphicon glyphicon-home"></i>&nbsp;عودة</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-2">
                            <h5 class="text-danger text-left">Media author(s)</h5>
                        </div>
                        <div class="col-sm-3" ng-repeat="author in vm.media.authors">
                            <a href="#/author/{{author.id}}"><i class="glyphicon glyphicon-user"></i>&nbsp;{{author.fullname}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
